<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Felicia Wang's Personal Website" name="Felicia Wang">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/logo.png">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

  <title>felicia wang</title>  

  <link href="{{url_for( 'static', filename='design.css' )}}" rel="stylesheet">
</head>

<body class="minimal">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
<!-- Content Header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-inverse">
      <div class="container">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbar-collapse">
              <ul class="nav navbar-nav ">
                  <li><a href="/" title="">home</a></li>
                  <li><a href="./portfolio.html" title="">portfolio</a></li>
                  <li><a href="./about.html" title="">about me</a></li>
                  <li><a href="./contact.html" title="">contact</a></li>
              </ul>
          </div>
          <img src="./static/assets/logo.png" target="_blank" width="400px" height="130px" style="margin-left: auto; margin-right: auto;"></a>
      </div>
  </nav>
</header>
<!-- Page Content -->
  <div class="hero-full-container background-image-container white-text-container" style="background-image: url('./static/assets/images/pinksunset.jpg')">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="hero-full-wrapper">
            <div class="text-content">
                <center>
                    <h1>
                        Hello, I am<br>
                        <span id="typed-strings">
                            <span>Felicia Wang. 👋🏻</span>
                            <span>a CS major at UIUC. 👩🏻‍💻</span>
                            <span>currently residing near Chicago, IL. 🏙️</span>
                            <span>a ramen enthusiast. 🍜</span>
                        </span>
                        <span id="typed"></span>
                    </h1>
                </center>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     type();
     movingBackgroundImage();
  });
</script>


<script src={{url_for( 'static', filename='main.js' )}}></script>
</body>

</html>